* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: rgb(224, 224, 224);
}

.container {

    width: 500px;
    padding: 10px;
    margin: 100px auto;
}

.select_container {
        width: 500px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(170, 170, 170) 0px 0px 8px;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        margin: 0 0 20px 0;
}

.select_container::before {
    content: "Select";
    position: absolute;
    top:-6px;
    background-color: white;
}


.piker-container {
    width: 540px;
    display: flex;
    justify-content: space-around;
}

.sliders {
        display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.sliders > div {
    width: 320px;
}

.sliders> p {
    margin: auto;
}

.text-block {
    width: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(170, 170, 170) 0px 0px 8px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

